.sidebar {
  z-index: 16;
  background: #2A68C9;
}

.sidebar-logo {
  position: relative;
  text-align: center;
  height: 60px;
  overflow: hidden;
  line-height: 65px;
  background: #2A68C9;
  transition: all .3s;
}

.sidebar-logo h1 {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

.sidebar-menu {
	display: block;
	float: left;
	position: relative;
	width: 60px;
	z-index: 16;
  background: #2A68C9;
}

.sidebar-menu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
  width: 60px;
}
.sidebar-menu > ul > li {
	display: block;
  position: relative;
  text-align: center;
}
.sidebar-menu > ul > li > a {
	padding: 10px 0px 10px 0px;
	display: block;
  position: relative;
	color: #fff;
  margin-top: 6px;
  font-size: 12px;
}
.sidebar-menu > ul > li > a > i {
  display: block;
}

.sidebar-menu > ul > li.active {
  background-color: #27a9e3;
}

.sidebar-menu > ul > li.active > a {
  color: #fff;
}

.sidebar-menu > ul > li:hover {
  background-color: #27a9e3;
}

.sidebar-menu > ul > li:hover > a {
  color: #fff;
}
